*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.container{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    border: 1px solid;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.design{
    width: 400px;
    height: 300px;
    border: 1px solid;
}


