
 /*
 & Task 4 ------------------  Ups and Down ---------------------------------- 
 */

 #task4 {
    background-color: #62306D;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #task4 section {
    display: grid;
    grid-template-columns: auto auto auto;
 }

 #task4 section div{
    width: 100px ;
    height: 100px;
    background-color: #F7EC7D;
 }
 
 #task4 section div:nth-child(odd){
    background-color: #62306D;
 }

 #task4 section :nth-child(2){
    border-radius: 100px 100px 0 0 ;
 }

 #task4  section .down{
    border-radius: 0 0 100px 100px;
 }
