
/*
 & Task3 ---------------- Push Button---------------
 */

 #task3, #task3 div{
    background-color: #6592CF;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #task3 div{
    width:300px;
    height:150px;
    background-color: #243D83;
 }

 #task3 div div {
    width:250px;
    height:250px;
    border-radius:150px;
    background-color: #6592CF;

 }

 #task3 div div div{
    width:150px;
    height:150px;
    border-radius:150px;
    background:#243D83;
 }
 #task3 div div div div{
    width:50px;
    height:50px;
    border-radius:150px;
    background:#EEB850;
 }

